<div class="jumbotron">
  <h2><%= gettext "Welcome to %{name}!", name: "My Phoenix app" %></h2>
  <p class="lead">Learning about the web framework</p>
</div>

<div class="row marketing">
  <div class="col-lg-6">

  </div>

  <div class="col-lg-6">
    
  </div>
</div>
